* {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 238, 250);
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
}

nav {
  margin: 0 auto;
  max-width: 960px;
  background-color: #a029a0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
}
nav li {
  display: inline-block;
  margin: 5px;
}

.main {
  margin: auto auto;
  max-width: 960px;
  display: flex;
  flex-direction: column;
}

section {
  padding: 20px 40px;
  background-color: #FFFFFF;
  margin: 10px 0;
}


.header {
  font-family: 'Poppins', sans-serif;
  color: #FFF;
  font-size: 40px;
  margin: 0;
  padding: 5px;
  /* text-align: center;*/
  letter-spacing: 3px;
}

nav a, nav a:visited {
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

ol {
    padding-left: 20px;
}

h2 {
    margin: 0;
    text-align: center;
}

table {
  margin: 10px auto;
}
td, th {
  padding: 10px;
  text-align: center;
}
tr:nth-child(odd){
  background-color: #FEE;
}
tr:nth-child(even){
  background-color: #EFE;
}

form {
  line-height: 1.7;
}

input, select, textarea {
  font-family: 'Noto Sans', sans-serif;
  padding: 3px;
}
input, textarea {
  padding-left: 5px;
}
input[type="submit"] {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin-top: 10px;
  padding: 3px 20px;
}
input[type="submit"]:hover {
  background-color: #efd1f0;
}

.error {
  border: 2px solid red;
}



